.pnpm-debug.log
**/node_modules/
/dist/
/node_modules/
/package-lock.json
ares/.enum_manifest.json
ares/.src_manifest.json
ares/**/__generated__
ares/src/generated/*
ares/vite.config.ts.timestamp-*
artemis/prisma/athena-prisma-client
artemis/prisma/pothos-types.ts
coverage
docs/vocs.config.tsx.timestamp-*
electron/demo
electron/log-output
electron/offline
electron/out
halting-problem-failure.json
mobile/dist/
source_strings.json
tests/testSetup
tsconfig.tsbuildinfo

# Codegen
apollo/EncodedActions.tsx
apollo/FormatActions.tsx
apollo/Routes.tsx
artemis/graphql/schemaImportMap.tsx
hera/i18n/CampaignMap.tsx
hera/i18n/EntityMap.tsx
hera/i18n/MessageMap.tsx
hermes/CampaignMapName.tsx
i18n/Entities.ts
