ares/.enum_manifest.json
ares/.src_manifest.json
ares/**/__generated__
ares/src/generated/
ares/translations/
artemis/graphql/schema.graphql
artemis/prisma/migrations/
artemis/prisma/pothos-types.ts
coverage
dist/
electron/out/
git-hooks/
halting-problem-failure.json
patches/
pnpm-lock.yaml
source_strings.json
ui/music
ui/sounds
vite.config.ts.timestamp*

# Codegen
apollo/EncodedActions.tsx
apollo/FormatActions.tsx
apollo/Routes.tsx
artemis/graphql/schemaImportMap.tsx
hera/i18n/CampaignMap.tsx
hera/i18n/EntityMap.tsx
hermes/CampaignMapName.tsx
i18n/Entities.cjs

# Codegen but checked-in
hera/render/Images.tsx
